:root {
    --primary-color: #1c1c1c;
    --secondary-color: #d9d9d9;
    --accent-color: #ff0055;
    --odd-line-color: #eaeaea;
    --even-line-color: #fcfcfc;
    --width: 700px;
}

* {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
    border-collapse: separate;
    border-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('assets/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('assets/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('assets/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata-Regular';
    src: url('assets/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey20-Regular';
    src: url('assets/Jersey20-Regular.ttf') format('truetype');
    font-size: normal;
    font-style: normal;
}

html {
    background: var(--primary-color);
}

body {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial;
    overflow-x: hidden;
}

body hr {
    border: 0;
    clear: both;
}

body header a#logo img {
    width: 15%
}

body header>* {
    max-width: 687px;
    margin-bottom: 0px;
    margin-top: 0px;
}

body header>h1 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size: 20px;
    background-color: var(--primary-color);
    font-weight: bold;
    padding-top: 10px;
    padding-left: 13px;
    padding-bottom: 10px;
    color: var(--accent-color);
}

body main>h1 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--primary-color);
    padding-left: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: var(--secondary-color);
}

body main>h2 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size: 20px;
    padding-left: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: var(--primary-color);
}

body main>h3 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size: 15px;
    padding-left: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

body main>h4 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size: 15px;
    background-color: var(--primary-color);
    padding-left: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: var(--secondary-color);
}

body main>h5 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size: 10px;
    padding-left: 13px;
    text-align: right;
}

body main>h6 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size: 10px;
    padding-left: 13px;
}

body main>* {
    max-width: 700px;
    margin-bottom: 0px;
    margin-top: 0px;
}

body main>ul {
    font-family: "OpenSans-Regular";
    font-size: small;
    line-height: 20px;
    padding-left: 18px
}

body hr {
    border: 0;
    clear: both;
}

body main {
    border-top: 1px solid var(--primary-color);
    max-width: 700px;
}

body main>ul li {
    list-style-type: disc;
}

body main>ul li a {
    text-transform: capitalize;
    text-decoration: underline;
}

body main>ul li b {
    font-weight: bold
}

body main>ul li:hover a {
    text-decoration: none;
}

body main>p {
    line-height: medium;
    font-size: medium;
    text-decoration: none;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body main>p a {
    text-decoration: underline;
}

body main>p a:hover {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

body main>p strong {
    font-weight: bold
}

body main>p i {
    font-style: italic;
}

body main>p i {
    line-height: 18px;
    font-size: 12px;
}

body main>p.quote {
    padding: 30px;
    font-size: 20px;
    font-style: italic;
    max-width: 400px
}

body main>ul.jump {
    columns: 2;
    line-height: 20px
}

body main>ul.jump li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    text-transform: capitalize;
}

body main>ul.jump li::marker {
    color: #777;
}

body main>ul.jump li:hover {
    background: black;
    color: white;
}

body main>p img {
    max-width: 500px;
    width: 100%;
}

body main>p iframe {
    max-width: 640px;
    width: 100%;
    margin-top: 0px;
    padding: 0px
}

body main>pre {
    /* background-color: rgb(240, 240, 240); */
    font-family: "Inconsolata-Regular", "Helvetica Neue", Helvetica, Arial;
    color: rgb(44, 43, 43);
    max-width: 700px;
    padding: 30px;
    margin-top: 0;
    padding-top: 0;
    font-size: 13px;
    white-space: pre-wrap;
}

body main>table,
th,
td {
    border: 1px solid black;
    width: 400px;
}

th {
    background-color: var(--primary-color);
}

body footer {
    border-top: 1px solid var(--primary-color);
    max-width: 700px;
    padding-top: 10px;
}

body footer>p {
    line-height: 18px;
    font-size: 12px;
    text-decoration: none;
    padding-left: 2px;
}

body footer>p a {
    text-decoration: underline;
}

body footer>p a:hover {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

body footer>p strong {
    font-weight: bold
}

body footer>p i {
    font-style: italic;
}

.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    background-color: rgb(163, 163, 163);
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas#glcanvas {
    width: 100%;
    height: 100%;
    aspect-ratio: 7/5;
    overflow: hidden;
    background: black;
    z-index: 0;
}

@media (max-width: 700px) {
    body {
        padding: 30px;
    }

    body main>ul.jump {
        columns: 1 !important
    }
}

ol.linenums {
    font-family: "Inconsolata-Regular", "Helvetica Neue", Helvetica, Arial;
    margin-top: 0;
    margin-bottom: 0
}

.prettyprint ol.linenums>li {
    font-family: "Inconsolata-Regular", "Helvetica Neue", Helvetica, Arial;
    list-style-type: decimal;
}

/* Alternate shading for lines */
li.L0,
li.L2,
li.L4,
li.L6,
li.L8 {
    background: var(--even-line-color)
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: var(--odd-line-color)
}

sup {
    font-size: x-small;
    vertical-align: super;
    background-color: var(--even-line-color);
}