* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    text-decoration:none;
    font-weight:inherit;
    font-style:inherit;
    color:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    list-style:none;
    border-collapse:separate;
    border-spacing:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*:focus {
    outline: none 
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('assets/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('assets/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('assets/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    background:rgb(255, 219, 88);
}
body {
    background:rgb(255, 255, 255);
    color:rgb(30, 30, 30);
    font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial;
    overflow-x: hidden;
    padding:45px 90px;
}
body hr {
    border:0;
    clear:both;
}
body header a#logo img {
    width:15% 
}
body header > h1 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size:20px;
    font-weight: bold;
}
body main > h1 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size:30px;
    font-weight: bold;
    background-color: rgb(255, 219, 88);
    padding-left: 3px;
    padding-top:0px;
    padding-bottom:0px;
}
body main > h2 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size:20px;
    padding-left: 3px;
    padding-top:0px;
    padding-bottom:0px;
}
body main > h3 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size:15px;
    padding-left: 3px;
    padding-top:0px;
    padding-bottom:0px;
}
body main > h5 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size:10px;
    padding-left: 3px;
    text-align: right;
}
body main > h6 {
    font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial;
    font-size:10px;
    padding-left: 3px;
}
body main > * {
    max-width: 700px;
    margin-bottom: 0px;
    margin-top: 0px;
}
body main > ul {
    font-family: "OpenSans-Regular";
    font-size:12px;
    line-height: 20px;
    padding-left:2px 
}
body hr {
    border:0;
    clear:both;
}
body main {
    border-top: 1px solid rgb(22, 22, 22);
    max-width: 700px;
}
body main > ul li {
    list-style-type: square;
}
body main > ul li a {
    text-transform: capitalize;
    text-decoration: underline;
}
body main > ul li b {
    font-weight: bold 
}
body main > ul li:hover a {
    text-decoration: none;
}
body main > p {
    line-height: medium;
    font-size: medium;
    text-decoration: none;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
body main > p a {
    text-decoration: underline;
}
body main > p a:hover {
    text-decoration: none;
    color: #000;
    background-color: rgb(255, 219, 88);
}
body main > p strong {
    font-weight: bold 
}
body main > p i {
    font-style: italic;
}
body main > p i {
    line-height: 18px;
    font-size:12px;
}
body main > p.quote {
    padding: 30px;
    font-size: 20px;
    font-style: italic;
    max-width: 400px 
}
body main > ul.jump {
    columns:2;
    line-height: 20px 
}
body main > ul.jump li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    text-transform: capitalize;
}
body main > ul.jump li::marker {
    color:#777;
}
body main > ul.jump li:hover {
    background:black;
    color:white;
}
body main > p img {
    max-width: 500px;
    width:100%;
}
body main > p iframe {
    max-width: 640px;
    width:100%;
    margin-top:0px;
    padding:0px 
}
body main > pre {
    background-color: rgb(21, 21, 21);
    color:rgb(44, 43, 43);
    max-width: 700px;
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
}
body main > table, th, td {
    border: 1px solid black;
}
body footer {
    border-top: 1px solid rgb(22, 22, 22);
    max-width: 700px;
    padding-top: 10px;
}
body footer > p {
    line-height: 18px;
    font-size:12px;
    text-decoration: none;
    padding-left:2px;
}
body footer > p a {
    text-decoration: underline;
}
body footer > p a:hover {
    text-decoration: none;
    color: #000;
    background-color: rgb(255, 219, 88);
}
body footer > p strong {
    font-weight: bold 
}
body footer > p i {
    font-style: italic;
}
.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    background-color: rgb(163, 163, 163);
}
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 900px) {
    body {
        padding: 30px;
   }
    body main > ul.jump {
        columns: 1 !important 
   }
}
code {
    tab-size: 2;
    white-space: pre-wrap;
    color: rgb(255, 219, 88);
}
