---
---

@import "minima";
a {
  color: #ff0055;
  text-decoration: none; }
  a:visited {
    color: #111; }
  a:hover {
    color: #111;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }